.list-template{
    color: inherit;
    border-bottom: 1px solid #808080;
}
.list-template:hover{
    border-color: #e4e0e0;
    font-size: 1.01em;
}
.grid-template{
    display:inline-block;
    width: 40px;
    height: 40px;
    margin: 1px;
    padding-top: 6px;
    text-align:center;
    background-color: #75737333;
    color: inherit;
    border: 1px solid #808080;
}
.grid-template:hover{
    border-color: #e4e0e0;
    color:#ebebeb;
    background-color:#4e5d6c;
}
h4 {
    text-transform: capitalize;
    border-bottom: 2px solid #808080;
}
h4:hover{
    color: rgba(143, 140, 140, 0.8);
    border-color: rgba(143, 140, 140, 0.8);
}
.card-content{
    font-style: italic;
}