div{
    background-color: rgb(153, 164, 199);
    color:black;
    padding:20px;
}
@media(max-width:767px){
    div{
        padding:10px
    }
}
.left,.right{
    position: fixed;
    top: 50%;
}
.left{
    left:10px;
}
.right{
    right:10px;
}