<div class="main-div">
    <div class="title">
        <h2>{{ hymn.hymnNo }}. {{ hymn.title }}</h2>
        <span>Category : {{ hymn.category | firstLetterToUppercase }}</span><br>
    </div>
    <h5>
        <div *ngFor="let stanzards of hymn.hymnStanzards; let index=index">
            <span>{{ index+1 }}. </span>
            <span *ngFor="let lines of stanzards">
                    {{ lines | firstLetterToUppercase }} <br>
            </span> <br>
            <span *ngIf="hymn.hymnChorus && index===0">
                <span class="chorus" *ngFor="let lines of hymn.hymnChorus">
                    {{ lines | firstLetterToUppercase }} <br>
                </span> <br>
            </span>
        </div>
    </h5>
    <hymn-change [direction]="'left'"></hymn-change>
    <hymn-change [direction]="'right'"></hymn-change>
    
</div>