.container {
    margin-top: 20px;
}
h2 {
    padding: 5px;
    text-align: center
}
.card {
    padding: 2px;
    min-height: 150px;
    border-radius: 10px;
    background-color: rgba(126, 131, 131, 0.2);
    color: inherit;
    
}
.card:hover{
    color:#ebebeb;
    background-color:#4e5d6c;
}
p{
    text-align:center
}