<div>
    <div class="row">
        <div [routerLink]="['/hymns']" class="container col-sm-6" data-toggle="collapse" data-target=".navbar-collapse.show">
            <div class="card">
                <h2>Hymns</h2>
                <p>View our vast collection of hymns</p>
            </div>
        </div>
        <div [routerLink]="['/about-rccg']" class="container col-sm-6" data-toggle="collapse" data-target=".navbar-collapse.show">
            <div class="card">
                <h2>RCCG</h2>
                <p>A brief history abot RCCG</p>
            </div>
        </div>
        <div [routerLink]="['/rccg-hymns']" class="container col-sm-6" data-toggle="collapse" data-target=".navbar-collapse.show">
            <div class="card">
                <h2>Rccg Hymns</h2>
                <p>Learn more about the hymn book and how to make the best use of it</p>
            </div>
        </div>
        <div [routerLink]="['/contact-us']" class="container col-sm-6" data-toggle="collapse" data-target=".navbar-collapse.show">
            <div class="card">
                <h2>Contact Us</h2>
                <p>Have anything to say to us?</p>
            </div>
        </div>
    </div>
</div>
