<main class="container-fluid">
    <div>
        <div class="row">
            <div [routerLink]="['/hymns']" class="container col-sm-6">
                <div class="card">
                    <h2>Hymns</h2>
                    <h4>View our vast collection of hymns</h4>
                </div>
            </div>
            <div [routerLink]="['/about-rccg']" class="container col-sm-6">
                <div class="card">
                    <h2>RCCG</h2>
                    <h4>A brief history abot RCCG</h4>
                </div>
            </div>
            <div [routerLink]="['/rccg-hymns']" class="container col-sm-6">
                <div class="card">
                    <h2>Rccg Hymns</h2>
                    <h4>Learn more about the hymn book and how to make the best use of it</h4>
                </div>
            </div>
            <div [routerLink]="['/contact-us']" class="container col-sm-6">
                <div class="card">
                    <h2>Contact Us</h2>
                    <h4>Have anything to say to us?</h4>
                </div>
            </div>
        </div>
    </div>
</main>