nav{
    color: #ebebeb;
    background-color: blue;
    font-weight: 500;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}
.navbar-brand{
    font-family: 'Limelight','Stencil Regular', Verdana,sans-serif;
    color: rgb(164, 189, 53);
    padding: 2px;
}
.navbar-brand span{
    font-size:1.5em;
}

@media (max-width:992px){
    .navbar-brand span{
        font-size:1.4em;
    }
}
@media (max-width:767px){
    .navbar-brand span{
        font-size:1.2em;
    }
}
nav img{
    height:100%;
    display: inline-block;
    margin-right:5px
}
.navbar-toggler{
    /* font-size: 1.4em; */
    float:right;
}
@media (min-width:768px){
    .navbar-collapse{
        height: 60px;
    }
    nav ul li,.navbar-brand{
        height: 60px;
    }
    .navbar-toggler{
        display:  none;
    }
    .collapse{
        float:right;
        
    }
}
nav ul{
    list-style-type: none;
}
nav li a{
    color: inherit;
    display:inline-block;
    font-size: 1.2em;
}
nav li a.active{
    color: #f97924;
}

@media (min-width:992px){
    nav li{
        font-size: 1.4em;
        
    }
}
.nav-link:hover,.nav-link a:hover{
    color:#ebebeb;
    background-color:#047ffa;
}

@media (max-width:767px){
    .navbar-collapse {
      position: fixed;
      top: 40px; 
      bottom: 0;
      left: 100%;
      width: 60%;
      visibility: hidden;
      background-color: rgba(16, 16, 29, 0.9);
      transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
      max-height: 100%;
    }
    .navbar-collapse.show {
      visibility: visible;
      transform: translateX(-100%);
    }
    nav li{
        font-size: 1.4em;
    }
    .nav-link:hover,.nav-link a:hover{
    color:#ebebeb;
    background-color:#66717c;
    }
  }